body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*align-items: center;*/
}

.contenedor {
    display: flex;
    justify-content: center;
}

.contenedor2 {
    
}

table {
    width: auto;
    height: 50%;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 4px 6px #696767 ;
    border-collapse: collapse;
    background-color: #b6b1b1;
    text-align: center;
    /*top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/

}

td img {
    width: 150px;
    height: auto;
    border-radius: 20%;
}

th{
    color: rgb(32, 100, 247);
}
th,td {
    padding:20px ;
    text-align: center;
    border: 2px solid black;
}

h1 {
   position: relative;
   font-family: starjedi;
   text-align: center;
}
tr:hover {
    background-color: rgb(157, 178, 209);
    font-size: 110%;

}

@font-face {
    font-family: starjedi;
    src: url(font/Starjedi.ttf);
}


